@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-12 Landing"></div>
        <div class="col-md-6 col-sm-12">
            <h3 class="heading">Join Our Community of Educators & Innovators</h3>
            <h4 class="subheading">Shape the Future of Learning with Us</h4>
            <p>
                We are looking for passionate professionals dedicated to academic excellence
                and student success. Explore opportunities to be part of our dynamic team.
            </p>
            <a asp-controller="Job" asp-action="GetAllPostedJobs" class="btn btn-lg btn-block btn-outline-info">
                View Openings
            </a>
        </div>
    </div>

    <div class="row align-items-center mt-4">
        <div class="col-md-6 col-sm-12">
            <h3 class="heading">Why Join Us? (Key Benefits)</h3>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">✅ Competitive Salaries & Benefits</li>
                <li class="list-group-item list-group-item-info">📚 Professional Development Opportunities</li>
                <li class="list-group-item list-group-item-info">🤝 Supportive & Inclusive Work Environment</li>
                <li class="list-group-item list-group-item-info">🏫 State-of-the-Art Facilities</li>
                <li class="list-group-item list-group-item-info">🎯 A Mission-Driven Institution Committed to Excellence</li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12 Office"></div>
    </div>
</div>
