html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.Landing {
    background: url('/images/Landing.jpg') no-repeat center center;
    background-size: cover;
    height: 300px; /* Adjust as needed */
    border-radius: 10px;
}

.Office {
    background: url('/images/Office.jpg') no-repeat center center;
    background-size: cover;
    height: 300px; /* Adjust as needed */
    border-radius: 10px;
}

.heading {
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.layout {
    background-color: #fff;
}
.navcolor {
    background-color: #7e42f5;
}
.center{
    align-items :center;
}

/* Makes the table header sticky for scrolling */
.table-responsive {
    max-height: 600px; /* Adjust as needed */
    overflow-y: auto;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: #343a40 !important;
    color: white;
    z-index: 1;
}
/* Truncate long text with ellipsis */
.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}